html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
html.js .loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

.invisible {
  display: none;
}

body {
  font-family: "HelveticaNeueRoman", sans-serif;
  font-weight: 500;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

iframe {
  border: 0;
}

/* Global Settings */
.blue-txt {
  color: #3766d3;
}

.green-txt {
  color: #9dcb3b;
}

.section-1-h .try-free, .section-3 .try-free, .section-7 .try-free, .section-15 .try-free {
  display: block;
  margin: 0 auto;
  max-width: 320px;
  border-radius: 27px;
  background-color: #9dcb3b;
  color: white;
  line-height: 32px;
  text-align: center;
  font-size: 20px;
  margin-top: 32px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.section-1-h .try-free:hover, .section-3 .try-free:hover, .section-7 .try-free:hover, .section-15 .try-free:hover {
  background-color: #b7b91c;
}

.section-3 .img-2:before, .section-3 .img-3:before, .section-3 .img-4:before {
  content: "";
  position: absolute;
  display: block;
  width: 128px;
  height: 1px;
  background-image: url("../img/dased-line.png");
  left: -175px;
  top: 40px;
}

input {
  max-width: 219px;
  border: 0;
  border-radius: 19px/18px 18px 19px 19px;
  background-color: #9b9b9b;
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}

input[type="submit"] {
  background-color: #9dcb3b;
}

.section-2 .problem-b-1-6, .section-6 .more-course, .section-8 .sl-content, .section-12 .secrets, .section-14 .lessons {
  margin-top: 40px;
  text-align: center;
}

.section-2 .desc, .section-6 .desc, .section-8 .desc, .section-12 .desc, .section-14 .desc, .section-15 p {
  text-align: center;
  color: #3766d3;
}

.section-caption {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  font-family: "HelveticaNeueRoman", sans-serif;
}

.section-link-blue, .section-link-trans {
  display: block;
  margin: 25px auto 0;
  width: 46px;
  height: 47px;
}

.section-link-blue {
  background-image: url("../img/blue-arrow.png");
}

.section-link-trans {
  background-image: url("../img/blue-arrow-trans.png");
}

.no-paddings {
  padding: 0;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-style: 24px;
  font-weight: 900;
}

h2 {
  font-size: 22px;
  font-weight: 400;
}

.align-text-center {
  text-align: center;
}

.no-paddings {
  margin: 0;
  padding: 0;
}

a {
  color: silver;
}
a:active {
  text-decoration: none;
}
a:focus {
  color: silver;
  text-decoration: none;
}
a:visited {
  color: silver;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

div, p {
  color: white;
}

.img {
  margin: 0 auto;
}

.desc {
  margin-top: 18px;
  font-size: 13px;
}

.responsive-img {
  width: 100%;
  height: auto;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  max-width: 500px;
  padding: 5px 80px 50px;
  background: #d1d7f0;
  background-color: #ffffff;
  border-radius: 5px;
  width: 45%;
  position: relative;
  -webkit-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
  z-index: 20;
  border-radius: 5px;
  text-align: left;
  color: #3e3e3e;
  min-width: 350px;
}
.popup p {
  color: #3e3e3e;
}
.popup .span {
  font-size: 14px;
  display: block;
  padding-bottom: 5px;
}
.popup .order {
  font-size: 32px;
  padding-top: 20px;
  text-align: center;
}
.popup .under-order {
  font-size: 14px;
}
.popup input {
  font-size: 14px;
  margin-bottom: 18px;
  padding: 14px 95px;
  max-width: 100%;
  display: block;
  border: 1px solid #9dcb3b;
  background-color: #ffffff;
  border-radius: 0;
  color: #b1b1b1;
  font-size: 16px;
  font-weight: 600;
}
.popup input:placeholder {
  color: #b1b1b1;
}
.popup input[type="submit"] {
  margin: 33px auto 0;
  background-color: #9dcb3b;
  color: #ffffff;
}
.popup input[type="submit"]:hover {
  background-color: #b7b91c;
  -webkit-transition: 0.5s background-color;
  -o-transition: 0.5s background-color;
  transition: 0.5s background-color;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}

.section-1-h .request a.close {
  color: #3766d3;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
  color: #3e3e3e;
  padding: 0;
  margin: 0;
}

.header-carusel .carousel-indicators li {
  width: 75px;
  height: 75px;
  padding: 30px;
  margin: 0 20px;
  border-radius: 50%;
}

/* SECTION 1 */
.section .phone-b {
  padding: 0;
  text-align: center;
}

.section-1 .phone a {
  display: block;
}
.section-1 .phone a:last-child {
  margin-top: -15px;
}

.section-1-h {
  min-height: 875px;
  height: 100%;
  background-image: url("../img/header-bg.png");
  background-position: center center;
  background-size: cover;
  padding-top: 20px;
}
.section-1-h .phone a {
  color: white;
}
.section-1-h .gamburger {
  width: 46px;
  height: 33px;
  background-image: url("../img/nav.png");
  display: none;
}
.section-1-h .only {
  font-size: 1.42857em;
}
.section-1-h a {
  font-size: 1.14286em;
  margin-left: 18px;
  line-height: 44px;
}
.section-1-h li {
  float: left;
}
.section-1-h .request {
  width: 181px;
  border: 1px solid white;
  border-radius: 18px;
  background-image: url("../img/message.png");
  background-repeat: no-repeat;
  background-position: 10px;
}
.section-1-h .request a {
  display: block;
  padding-left: 30px;
  margin: 0;
  color: white;
  font-size: 1.14286em;
}
.section-1-h .header-inf {
  margin-top: 96px;
}
.section-1-h .left-txt h1 {
  font-size: 1.71429em;
  font-weight: 900;
  margin: 0;
}
.section-1-h .left-txt h2 {
  font-size: 1.57143em;
  margin-top: 46px;
  font-weight: 500;
}
.section-1-h .icons-b-1-4 {
  text-align: center;
}
.section-1-h .icons-b {
  margin-top: 37px;
}
.section-1-h .icons-b .img {
  height: 80px;
  width: 80px;
  background-image: url("../img/iconset.png");
}
.section-1-h .icons-b .img-2 {
  background-position: -160px;
}
.section-1-h .icons-b .img-3 {
  background-position: 240px;
}
.section-1-h .icons-b .img-4 {
  background-position: 81px;
}
.section-1-h .icons-b .desc {
  font-size: 0.92857em;
}
.section-1-h .icons-b .tape {
  position: absolute;
  height: 161px;
  width: 114px;
  background-image: url("../img/tape.png");
  top: 67px;
  left: 160px;
}
.section-1-h .owl-img {
  margin-top: 40px;
  position: relative;
}
.section-1-h .social {
  position: absolute;
  bottom: -79px;
  right: 0;
  font-size: 1em;
  z-index: 15;
}
.section-1-h .social a {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
.section-1-h .youtube:before {
  display: block;
  position: absolute;
  content: "";
  left: -28px;
  top: 10px;
  width: 25px;
  height: 25px;
  background-image: url("../img/youtub.png");
  background-size: cover;
}
.section-1-h .fb:before {
  display: block;
  position: absolute;
  left: -28px;
  top: 51px;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../img/fb.png");
  background-size: cover;
}

/* SECTION 2 */
.section-2 {
  padding-top: 73px;
}
.section-2 .img {
  width: 85px;
  height: 83px;
  background-image: url("../img/problem-iconset.png");
}
.section-2 .img-2 {
  background-position: -156px center;
}
.section-2 .img-3 {
  background-position: -325px center;
}
.section-2 .img-4 {
  background-position: -480px center;
}
.section-2 .img-5 {
  background-position: -638px center;
}
.section-2 .img-6 {
  background-position: -791px center;
}

/* SECTION 3 */
.section-3 {
  min-height: 511px;
  height: 100%;
  margin-top: 20px;
  padding-top: 30px;
  background-color: #1b39b4;
  position: relative;
  padding-bottom: 10px;
}
.section-3 .because {
  margin-top: 45px;
  text-align: center;
}
.section-3 .img {
  margin: 0 auto;
  height: 80px;
  width: 70px;
  background-image: url("../img/because-iconset.png");
}
.section-3 .img-2, .section-3 .img-3, .section-3 .img-4 {
  position: relative;
}
.section-3 .img-2 {
  background-position: -229px center;
}
.section-3 .img-3 {
  background-position: -463px center;
}
.section-3 .img-4 {
  background-position: -707px center;
}

/* SECTION 4 */
.section-4 {
  min-height: 690px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.section-4 .diag-b {
  text-align: center;
  margin-top: 42px;
}
.section-4 .diagram {
  margin-top: 35px;
}

/* SECTION 5 */
.section-5 {
  min-height: 363px;
  background-color: #1b39b4;
  padding-top: 25px;
  padding-bottom: 25px;
}
.section-5 .course {
  text-align: center;
}
.section-5 .num {
  font-size: 88px;
  font-weight: 300;
  color: #e8bd58;
}
.section-5 .num-desc {
  font-size: 0.92857em;
}
.section-5 .help-txt {
  font-size: 0.92857em;
  margin-top: 40px;
  text-align: left;
  padding-left: 35px;
  position: relative;
}
.section-5 .help-txt:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  display: block;
  width: 26px;
  height: 13px;
  background-image: url("../img/rose.png");
  background-repeat: no-repeat;
}
.section-5 .course-5 {
  position: relative;
  cursor: pointer;
}
.section-5 .course-5-hint {
  position: absolute;
  padding: 10px;
  border-radius: 15px;
  visibility: hidden;
  display: block;
  color: #3766d3;
  background-color: #fff;
}
.section-5 .course-5:hover + .course-5-hint {
  visibility: visible;
}

/* SECTION 6 */
.section-6 {
  min-height: 590px;
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.section-6 .img {
  width: 83px;
  height: 82px;
  background-image: url("../img/more-course-iconset.png");
}
.section-6 .img-1 {
  background-position: -45px 0;
}
.section-6 .img-2 {
  background-position: -285px 0;
}
.section-6 .img-3 {
  background-position: -526px 0;
}
.section-6 .img-4 {
  background-position: -760px 0;
}
.section-6 .img-5 {
  background-position: -29px 85px;
}
.section-6 .img-6 {
  background-position: -285px 92px;
}
.section-6 .img-7 {
  background-position: -526px 85px;
}
.section-6 .img-8 {
  background-position: -760px 86px;
}

/* SECTION 7 */
.section-7 {
  min-height: 439px;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(0%, rgba(0, 0, 0, 0.65))), url("../img/section-7-bg.jpg");
  background: -webkit-linear-gradient(left, black 0%, rgba(0, 0, 0, 0.65) 0%), url("../img/section-7-bg.jpg");
  background: -o-linear-gradient(left, black 0%, rgba(0, 0, 0, 0.65) 0%), url("../img/section-7-bg.jpg");
  background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.65) 0%), url("../img/section-7-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}
.section-7 .section-caption-small {
  font-size: 1.57143em;
  font-weight: 500;
  margin-top: 2.28571em;
}
.section-7 .contacts-b {
  text-align: center;
  font-size: 1.14286em;
  margin-top: 2.5em;
  max-width: 710px;
  margin: 0 auto;
  margin-top: 43px;
}
.section-7 .phone, .section-7 .email {
  display: inline-block;
}
.section-7 .phone {
  float: left;
  position: relative;
  left: 145px;
}
.section-7 .phone:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("../img/phone.png");
  left: -18px;
  top: 6px;
}
.section-7 .email {
  float: right;
  position: relative;
  right: 145px;
}
.section-7 .email:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("../img/message.png");
  left: -18px;
  top: 6px;
}

/* SECTION 8 */
.section-8 {
  min-height: 365px;
  padding-top: 25px;
  padding-bottom: 25px;
  /*.img-6
   * background-position: -791px center */
}
.section-8 .img {
  width: 85px;
  height: 83px;
  background-image: url("../img/section-8-iconset.png");
}
.section-8 .img-2 {
  background-position: 2px -88px;
}
.section-8 .img-3 {
  background-position: 2px -176px;
}
.section-8 .img-4 {
  background-position: 2px -265px;
}
.section-8 .img-5 {
  background-position: 2px -365px;
}
.section-8 .slick-prev::before, .section-8 .slick-next::before {
  color: #9dcb3b;
}

/* SECTION 9 */
#otzyv {
  background: #1b39b4;
  padding-top: 25px;
  padding-bottom: 25px;
}

#otzyv h1 {
  font-size: 24px;
  text-align: center;
  color: #fff;
}

#otzyv h2 {
  font-size: 22px;
  color: #fff;
  position: relative;
  margin-top: 25px;
  margin-bottom: 20px;
}

.text {
  color: #fff;
  font-size: 16px;
}

.first-text {
  color: #e8bd58;
}

.second-text {
  color: #9dcb3b;
}

.content {
  color: #fff;
  font-size: 13px;
  padding-left: 30px;
  margin-top: 30px;
  position: relative;
}

/* 	position: absolute */
/* 	display: block */
/* 	content: "" */
/* 	width: 35px */
/* 	height: 20px */
/* 	background: url(../img/ms.png) no-repeat */
/* 	left: 0px */
.header-carusel .carousel-indicators .active:after {
  content: "";
  position: absolute;
  display: block;
  width: 33px;
  height: 20px;
  background: url(../img/arr.png) no-repeat;
  background-color: #1b39b4;
  /*    background-size: 100%; */
  bottom: 89px;
  z-index: 1000;
  left: 25%;
}

.header-carusel .item {
  margin-top: 0px;
  padding-bottom: 160px;
}

.header-carusel .controls {
  bottom: 90px;
  z-index: 13;
}

.header-carusel .carousel-control {
  /*    position: absolute; */
  width: 30px;
  height: 40px;
  z-index: 13;
  bottom: 0px;
  top: 268px;
}

.header-carusel .controls .right {
  background: url(../img/right.png) no-repeat !important;
  opacity: 1;
  /*	right: 10px; */
}

.header-carusel .controls .left {
  background: url(../img/left.png) no-repeat !important;
  opacity: 1;
}

.header-carusel .carousel-indicators {
  bottom: 30px;
  left: 392px;
  width: 90%;
}

.section-9 .header-carusel .carousel-indicators li.min-img-1 {
  background: url("../img/min-panina.jpg");
}
.section-9 .header-carusel .carousel-indicators li.min-img-2 {
  background: url("../img/min-tisin.jpg");
}
.section-9 .header-carusel .carousel-indicators li.min-img-3 {
  background: url("../img/min-abragimovic.jpg");
}
.section-9 .header-carusel .carousel-indicators li.min-img-4 {
  background: url("../img/min-nikiforuk.jpg");
}
.section-9 .header-carusel .carousel-indicators li.min-img-5 {
  background: url("../img/min-safronova.jpg");
}
.section-9 .header-carusel .carousel-indicators li.min-img-6 {
  background: url("../img/min-brahin.jpg");
}
.section-9 .order {
  min-height: 221px;
}
.section-9 .header-carusel .carousel-control {
  top: 298px;
}

.header-carusel .carousel-indicators .active {
  background: #fff;
  padding: 35px;
  margin: 10px 20px -5px;
  border: 2px solid #de9c78;
  position: relative;
}

.arow {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.line {
  position: relative;
  top: -150px;
  height: 1px;
  background: #a4b4d9;
}

/* SECTION 10 */
.section-10 {
  min-height: 385px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.section-10 .videoandtxt {
  margin-top: 25px;
}
.section-10 .video {
  max-height: 220px;
}
.section-10 .name {
  color: #9dcb3b;
  font-size: 1.57143em;
  font-weight: bold;
  position: relative;
  /* &:after */
  /* 	content: '' */
  /* 	position: absolute */
  /* 	display: inline-block */
  /* 	right: 7px */
  /* 	top: 7px */
  /* 	width: 29px */
  /* 	height: 17px */
  /* 	background: url("../img/vk.png") */
}
.section-10 .before, .section-10 .after {
  margin-left: 10px;
  margin-right: 10px;
}
.section-10 .info {
  color: #3766d3;
}
.section-10 .before {
  color: #e8bd58;
}
.section-10 .after {
  color: #9dcb3b;
}

/* SECTION 11 */
.section-11 .order {
  margin-bottom: 15px;
  margin-top: 25px;
  min-height: 315px;
}
.section-11 .img, .section-11 .desc {
  display: inline-block;
}
.section-11 .img {
  border: 1px solid #2c3c55;
}
.section-11 .name {
  font-size: 1.5em;
  margin-bottom: 35px;
}
.section-11 .header-carusel .carousel-control {
  top: 428px;
}
.section-11 .header-carusel .carousel-indicators li {
  width: 75px;
  height: 75px;
}
.section-11 .header-carusel .carousel-indicators li.min-img-1 {
  background: url("../img/min-storozev.png");
}
.section-11 .header-carusel .carousel-indicators li.min-img-2 {
  background: url("../img/min-volkov.png");
}
.section-11 .header-carusel .carousel-indicators li.min-img-3 {
  background: url("../img/min-lehkova.png");
}
.section-11 .header-carusel .carousel-indicators li.min-img-4 {
  background: url("../img/min-kozlova.png");
}
.section-11 .header-carusel .carousel-indicators li.min-img-5 {
  background: url("../img/min-zolotarev.png");
}
.section-11 .header-carusel .carousel-indicators li.min-img-6 {
  background: url("../img/min-sehovcova.png");
}

/* SECTION 12 */
.section-12 {
  min-height: 438px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.section-12 h2 {
  text-align: center;
  margin-top: 30px;
}
.section-12 .img {
  width: 198px;
  height: 52px;
  background: url("../img/stars.png");
  margin: auto;
}
.section-12 .img-1 {
  background-position: -45px -11px;
}
.section-12 .img-2 {
  background-position: -50px -62px;
}
.section-12 .img-3 {
  background-position: -50px -121px;
}

/* SECTION 13 */
.section-13 {
  min-height: 306px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #1b39b4;
  text-align: center;
}
.section-13 h2 {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 48px;
}
.section-13 input[type="submit"]:hover {
  background-color: #b7b91c;
  -webkit-transition: 0.5s background-color;
  -o-transition: 0.5s background-color;
  transition: 0.5s background-color;
}

/* SECTION 14 */
.section-14 {
  min-height: 550px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.section-14 .lessons {
  height: 220px;
}
.section-14 .img {
  width: 90px;
  height: 75px;
  background-image: url("../img/lessons-iconset.png");
  margin: 0 auto;
}
.section-14 .img-1 {
  background-position: 21px 0;
}
.section-14 .img-2 {
  background-position: -307px 0;
}
.section-14 .img-3 {
  background-position: -633px 0;
}
.section-14 .img-4 {
  background-position: 20px -130px;
}
.section-14 .img-5 {
  background-position: -300px -130px;
}
.section-14 .img-6 {
  background-position: -625px -130px;
}

/* SECTION 15 */
.section-15 {
  min-height: 696px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #1b39b4;
}
.section-15 .propos {
  min-height: 619px;
  background-color: #FFF;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px solid #9dcb3b;
  margin-top: 45px;
}
.section-15 .under-caption {
  color: #e8bd58;
  font-size: 1.14286em;
  font-weight: bold;
}
.section-15 p {
  font-size: 1.14286em;
  margin-bottom: 40px;
  line-height: 1.875em;
  height: 330px;
}
.section-15 .price {
  color: #082c7e;
}
.section-15 .try-free {
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  max-width: 180px;
  text-transform: uppercase;
}
.section-15 .bonus {
  color: #082c7e;
}

/* SECTION 16 */
.section-16 {
  min-height: 602px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.section-16 a {
  color: #e8bd58;
}
.section-16 .section-caption {
  font-weight: bold;
}
.section-16 .mapandtxt {
  text-align: center;
  margin-top: 42px;
  margin-bottom: 45px;
}
.section-16 .town-name {
  font-size: 1.71429em;
  color: #9dcb3b;
}
.section-16 .address {
  color: #e8bd58;
  font-weight: bold;
}
.section-16 .gmap {
  max-height: 290px;
  margin-top: 25px;
  border: 1px solid #9dcb3b;
}
.section-16 iframe {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* SECTION 17 */
.section-17 {
  min-height: 550px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: url("../img/footer-bg.jpg");
  text-align: center;
  height: 2px;
}
.section-17 .timer {
  margin-top: 15px;
  margin-bottom: 15px;
}
.section-17 h2 {
  margin-top: 42px;
  margin-bottom: 42px;
}
.section-17 h2:last-child {
  margin-bottom: 0;
}
.section-17 .timer-b {
  margin: 0 auto;
  height: 166px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.section-17 .end-in {
  text-align: center;
  font-size: 1.5em;
}
.section-17 .day, .section-17 .hour, .section-17 .minute, .section-17 .second {
  display: inline-block;
  margin-right: 48px;
  font-weight: 700;
}
.section-17 .second {
  color: #ff8400;
  margin-right: 0;
}
.section-17 .digits {
  font-size: 4.14286em;
}
.section-17 .txt {
  font-size: 1.5em;
  text-transform: uppercase;
}
.section-17 .copy {
  font-size: 1.28571em;
  color: #cdcdcd;
  margin-top: 40px;
  font-weight: normal;
}
.section-17 input[type="submit"]:hover {
  background-color: #b7b91c;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.section-17 .copy {
  cursor: pointer;
}
.section-17 .pol-conf {
  display: none;
  z-index: 15;
  position: fixed;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 85%;
  margin: 0 auto;
  height: 100%;
  max-height: 1062px;
  padding: 15px;
  border: 1px solid white;
  background-color: #1b39b4;
}
.section-17 .pol-conf .close {
  display: inline-block;
}

.thanks-popup .mfp-content{
    padding: 50px 80px 50px;
    background: #d1d7f0;
    max-width: 500px;
    font-size: 32px;
    text-align: center;
}
#map {
  width: 100%;
  height: 400px;
  margin-top: 25px;
  margin-bottom: 25px;
}
